[default]
aws_access_key_id = {{ rvar_users_single.aws_access_key | default('',true) }}
aws_secret_access_key = {{ rvar_users_single.aws_secret_key | default('',true) }}
{% if rvar_users_single.aws_session_token is defined and rvar_users_single.aws_session_token != "" %}
aws_session_token = {{ rvar_users_single.aws_session_token }}
{% endif %}